
		<title> Favorite Eats </title>

		<h1> Welcome to our favorite places to eat</h1>
 
		<p><strong> Welcome to our restuarants,</strong> a list of some of the places we like to go on and around Buford Highway, Atlanta's most diverse stretch of foodstuff. Buford Highway is the only spot where East meets West meets hipster meets suits. No matter where you come from, you'll be glad to wind up in any of these spots!
		</p>
  
