<h4>Cool and Interesting Places to Eat:</h4>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <a href="restaurants/<%= restaurant.id %>">
      <span><strong><%= restaurant.name %></strong> ---- </span>
      <span><%= restaurant.category %> - </span>
      <span>$<%= restaurant.price %></span>
    </a>
  </li>
  <% end %>
</ul>
