// Place all the styles related to the reviewers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    padding-top: 60px;
    background-image: url('app/assets/images/nyc.png');
    /* background-repeat: no-repeat; */
    background-color: transparent;
    height: 1000px;

}