/*body {
    background: url('/images/restaurant.png');
    background-position:top center;
    margin:0;
    padding:0;
}
p {
  padding-left: 50px;
  padding-right: 30px;
  font-size: 14pt;
}

h1 {
text-align: center;
text; ontop;
}

img {
  align: center;
  margin-left: 200px;
}

.jumbotron {
   background: url(/images/food.jpg);
   opacity: 0.15;
   font-weight: bold;*/